.beams {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 340px;
  pointer-events: none;
}

.flip {
  top: auto;
  bottom: 0;
  height: 320px;
  transform: scaleY(-1);
}

.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
}
